<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple flask app, which strengthens my knowledge in web backend technologies">
    <title>{%block title%} Default Title {%endblock%}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <main>
        {%block content%}
        
        {%endblock%}
    </main>
</body>
</html>