<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlaskDemo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <header>
    <section class="f-container"><h1>Welcome to my app</h1>
        <p>Lorem ipsum dolor sit amet consectetur,
             adipisicing elit. Fuga dolores tempora provident asperiores aspernatur, amet earum enim impedit sequi laudantium alias recusandae
             minus consequatur ratione minima possimus. Perspiciatis, quam rem.</p> </section>
   </header>
</body>
</html>