{% extends "base.html" %}
 {%block title%}Notetaker{%endblock%}
 {%block content%}
    <h1>Hello world!</h1>
    <form method="post" action="{{url_for('home')}}">
    <input name="username" type="username" placeholder="Username">
    <input name="password" type="password" placeholder="Password">
    <input type="submit" value="Login">
    </form>
    <p>{{myResult}}</p>
    <p>{{evenTens}}</p>
    <ul>
    {% for even in evenTens%}
     {% if even == 30%}
       <li style="color: red;">{{even}}</li>
       {%else%}
     {%endif%}
     <li>{{even}}</li>

    {% endfor %}
    </ul>
    <p>
    <a href="{{url_for('other')}}">Go here</a>
    </p>

{%endblock%}